# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.o
*.so

# Jupyter Notebook
.ipynb_checkpoints

#VSCode
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
